:root {
	--custom-transit: background-color ease-in-out 0.2s;
}
.App {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
}

/* CSS LOADER ///////////////////////////////////////////////////////////////////////////////////// */
.loader-small {
	border: 7px solid #f3f3f3; /* Light grey */
	border-top: 7px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 50px;
	height: 50px;
	position: absolute;
	right: 5%;
	bottom: 11%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* NAVBAR COMPOENENT////////////////////////////////////////////////////////////////////////////// */
.custom-navbar {
	height: 100%;
	width: 5rem;
	background-color: #1e1e30;
	box-sizing: border-box;
	position: fixed;
	z-index: 3;
    transition: var(--custom-transit);
}

.theme-on-hover {
	background-color: #b1b1b1 !important;
}
.website-logo {
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	color: #28a645;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	margin: 20px 0px 10px 0px;
}

.buttons-container {
	width: 100%;
	height: 80%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	color: white;
	transition: var(--custom-transit);
}

.buttons-container > div {
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}
/* EXPOSED NAVBAR */

.exposed-navbar {
	height: 100%;
	width: 17rem;
	background-color: #1e1e30;
	box-sizing: border-box;
	position: fixed;
	z-index: 2;
	padding-left: 5rem;
	transition: transform ease-in-out 0.2s;
    /* transform: translate3d(-12rem, 0, 0); */
    transform-origin: bottom left;
    transform:rotateY(-90deg);
    transform-style: preserve-3d;
    perspective: 10000;

}

.buttons-container-exposed {
	width: 100%;
	height: 80vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	color: white;
	transition: var(--custom-transit);
}
.website-name {
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	color: rgba(254, 7, 58, 1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-size: 50px;
	font-weight: bolder;
	margin: 20px 0px 10px 0px;
	overflow: hidden;
	font-family: "Tangerine";
}
.buttons-container-exposed > a {
	height: 10%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-size: 16px;
	padding-left: 10%;
	box-sizing: border-box;
	color: white;
	transition: var(--custom-transit);
}

.buttons-container-exposed > a:hover {
	background-color: #2d2d46;
	color: orange;
	text-shadow: none;
	cursor: default;
	text-decoration: none;
}

.exposed {
    /* transform: translate3d(0rem, 0, 0) !important; */
    transform-origin: bottom left !important;
    transform:rotateY(0deg) !important;


    transform-style: preserve-3d;
    perspective: 10000;
}
/* SIGN UP COMPONENT /////////////////////////////////////////////////////////////////// */

.custom-sign-box {
	box-shadow: 0px 0px 1px 1px rgb(223, 223, 223);
	position: relative;
}

.sign-up {
	width: 100%;
    min-height: 100vh;
    background-color:#ffc107;
	/* background-image: url("https://images.unsplash.com/photo-1586771107445-d3ca888129ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80"); */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/* SIGN IN COMPONENT ///////////////////////////////////////////////////////////////// */
.sign-in {
	width: 100%;
    min-height: 100vh;
    background-color:#ffc107;
	/* background-image: url("https://images.unsplash.com/photo-1586771107445-d3ca888129ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80"); */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/* SELL COMPONENT ///////////////////////////////////////////////////////////////////// */
.sell-component {
	width: 100%;
	height: 100%;
	padding-left: 5rem;
}
.sell-intro {
	height: 100vh;
	width: 100%;
	background-image: url("https://images.pexels.com/photos/693776/pexels-photo-693776.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
}



/* CATEGORIES NAVBAR /////////////////////////////////////////////////////////////////////// */

.categories-nav {
	height: 100%;
	width: 29rem;
	background-color: #1e1e30;
	box-sizing: border-box;
	position: fixed;
	z-index: 1;
	padding-left: 17rem;
    transition: transform ease-in-out 0.2s;
    /* transform: translate3d(-29rem, 0, 0); */
    transform-origin: bottom left;
    transform:rotateY(-90deg);
    transform-style: preserve-3d;
    perspective: 10000;

}
.categories-nav-inner-container {
	width: 100%;
	height: 80vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	/* color: white; */
}
.categories-nav-inner-container > a {
	height: 10%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-size: 16px;
	padding-left: 10%;
	box-sizing: border-box;
	color: white;
}
.change-hover-color>a>div
{
    color:black !important;

}
.change-hover-color>a:hover
{
    background-color: rgb(206, 206, 206) !important;
}
.categories-nav-inner-container > a:hover {
	text-decoration: none;
	background-color: #37374d;
	transition: background-color ease-in-out 0.1s;
}
.custom-width
{
    width:100%;
}
.cat-button
{
    position:relative;
}
.cat-button svg
{
    position:absolute;
    right:15%;
    top:40%;
}