.grad-cover {
	/* height: 70%; */
	width: 100%;
	background-image: url("https://images.unsplash.com/photo-1555704574-f9ecf4717298?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}
/* @media screen and (max-width: 750px) {
	.grad-cover {
		height: 80%;
	}
} */
.bg-grad {
	background-image: linear-gradient(
		0deg,
		rgb(0 124 15 / 0%) 0%,
		#ff000080 100%
	);
	height: 100%;
	width: 100%;
}
.home-component {
	padding-left: 5rem;
}
.logo {
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-size: 90px;
	font-weight: bolder;
	margin: 0px 0px 10px 0px;
	overflow: hidden;
	font-family: "Tangerine";
}
.upper-nav {
	width: 100%;
}
.search-bar-container {
	width: 20vw;
	min-width: 150px;
    position:relative;
}
@media screen and (max-width:1268px)
{
    .search-bar-container
    {
        width:30vw;
    }
}
@media screen and (max-width:787px)
{
    .search-bar-container
    {
        width:30vw;
    }
}
@media screen and (max-width:560px)
{
    .search-bar-container
    {
        width:50vw;
    }
}
@media screen and (max-width:500px)
{
    .search-bar-container
    {
        width:70vw;
    }
}
.search-ico
{
    position:absolute;
    color:white;
    top:8px;
    left:7px;
}
.search-results
{
    position:absolute;
    width:100%;
    max-height:300px;
    min-height:50px;
    background-color:white;
    overflow-x: hidden;
    overflow-y: scroll;
    padding:5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}
.search-results>a
{
    width:100%;
}
.search-bar-container > input {
    border-radius: 2px;
    background-color: transparent;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    padding-left:30px;
    color:white;
}
.search-bar-container>input::placeholder
{
    text-align: center;
    font-weight: bolder;
    color:white;
}
.search-bar-container>input:focus
{
    background-color:transparent;
    box-shadow: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    color:white;
}
.search-bar-container ~ div > button {
	border-radius: 2px !important;
}

.jumbotron {
	background-color: rgba(255, 255, 255, 0.8);
}
/* REACT SCROLL ITEMS */
.menu-item {
	margin: 5px 10px;
	user-select: none;
	border: none;
}

.scroll-menu-arrow {
	padding: 10px;
    font-size:30px;
}
.card
{
    color:black;
}
.card:hover
{
    text-decoration: none;
}
.categ
{
    padding:20px 0px;
}
.categ:nth-child(2n)
{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23a4a4a4'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%23f7f7f7'/%3E%3Cstop offset='1' stop-color='%23959595'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%23eeeeee'/%3E%3Cstop offset='1' stop-color='%23868686'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%23e6e6e6'/%3E%3Cstop offset='1' stop-color='%23777777'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%23dedede'/%3E%3Cstop offset='1' stop-color='%23686868'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23d6d6d6'/%3E%3Cstop offset='1' stop-color='%23595959'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%23cdcdcd'/%3E%3Cstop offset='1' stop-color='%234b4b4b'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23c5c5c5'/%3E%3Cstop offset='1' stop-color='%233c3c3c'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23bdbdbd'/%3E%3Cstop offset='1' stop-color='%232d2d2d'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23b5b5b5'/%3E%3Cstop offset='1' stop-color='%231e1e1e'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23acacac'/%3E%3Cstop offset='1' stop-color='%230f0f0f'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23a4a4a4'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill-opacity='0.16'%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.categ:nth-child(2n+1)
{
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23f2f2f2' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23e5e5e5' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23d7d7d7' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23cacaca' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23bdbdbd' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-size: cover;
}
.bottom-side-of-card
{
    background-color:rgb(231, 231, 231);
}
/* ********************************************************************************************************************** */
/*                                                                                                                        */
/* ----------------------------------------- MEDIA QUERIES -------------------------------------------------------------  */
/*                                                                                                                        */
/* ********************************************************************************************************************** */

@media screen and (max-width:500px)
{
    .home-component {
        padding-left: 0rem;
    }
    .display-4
    {
        font-size:40px;
    }
}