/* PROFILE COMPONENT ///////////////////////////////////////////////////////////////////// */

.profile-component
{
    width:100vw;
    min-height:100vh;
    padding-left:5rem;
}
.user-profile-image
{
    border-radius: 5px;
    width:100%;
}
.user-profile-image>img
{   
    border-radius: inherit;
    height:100%;
    width:100%;
}
.name-section
{
    position:relative;
}
.left-section
{
    position:relative;
}
.hl {/* denotes horizontal line */
    position: absolute;
    background-color: #ffc107;
    height: 3px;
}
.one/* first horizontal line */
{
    width: 50%;
    left: 0%;
    top: 25px;
}
.two
{
    position:relative !important;
    width:50%;
    left:0%;
    top:0rem;
    background-color:red !important;
}
.social-handle-container
{
    font-size: 40px;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.facebook-handle
{
    color:#1a78f4;
}
.instagram-handle
{
    color:#ae34ad;
}
.twitter-handle
{
    color:#43bffb;
}
.google-handle
{
    color:#dc4e41;
}
.name-subtitle
{
    color:rgb(255, 187, 0);
}
.portfolio{
    color:orangered;
    border-radius: 50%;
    overflow:hidden;
}
.profile-top
{
    position: relative;
    width:100%;
}
.bookmark
{
    position: absolute;
    right:5%;
    top:3%;
}
@media screen and (max-width:992px)
{
    .bookmark
    {
        top:40%;
    }
}
@media screen and (max-width:767px)
{
    .bookmark
    {
        top:31%;
    }
}
@media screen and (max-width:577px)
{
    .bookmark
    {
        top:40%;
    }
}
.rating
{
    font-size: 15px;
}
.stars
{
    font-size:25px;
}
.stars>svg
{
    color:rgb(255, 187, 0);
}

/* MULTI PRODUCT CONTAINER //////////////////////////////////////////////////////// */
.MPC
{
    box-shadow: 0px 0px 2px 1px rgb(221, 221, 221);
}
.single-product
{
    width:280px;
    /* height:100px; */
    box-shadow: 0px 0px 2px 1px rgb(221, 221, 221);
    box-sizing: border-box;
}
.image-container-left-section
{
    /* height:100px; */
    width:100px;
    min-height:92px;
    box-sizing:border-box;
}
.details-container
{
    width:180px;
    word-wrap: break-word;
}
.details-container>div:nth-child(1)
{
    text-transform: capitalize;
    
}
hr
{
    width:100%;
    margin:0px;
}