.App
{
    overflow-x: inherit !important;
}/* To enable stick top for left-wrapper calss for the product */
.single-product-component
{
    padding-left:5rem;
}
.product-image
{
    margin-left:auto;
    margin-right:auto;
    width:80%;
}
.product-image>img
{
    width:100%;
    height:100%;
}
.left-wrapper
{
    width:100%;
    z-index:0;
}
/* add to cart and buy now action buttons */
.add-to-cart-button
{   
    min-width:165px;
    width:45%;
}
.buy-now-button
{
    min-width:165px;
    width:45%;
}
.add-to-cart-button>button
{
    width:100%;
    border-radius: 0px;
    background-color:#ff9f00;
    border-color:#ff9f00;
}
.add-to-cart-button>button:hover
{
    background-color:#ff9f00;
    border-color:#ff9f00;
    box-shadow: 0px 5px 12px 1px grey;
}
.buy-now-button>button
{
    width:100%;
    border-radius: 0px;
    background-color: #fb641b;
    border-color:#fb641b;
}
.buy-now-button>button:hover
{
    background-color:#fb641b;
    border-color:#fb641b;
    box-shadow: 0px 5px 12px 1px grey;
}
.product-description p
{
    border-left:5px solid rgb(255, 153, 0);
    padding-left:20px;
    text-align: justify;
}

/* seller details ////////////////////////////////////////////////////////*/
.seller-details
{
    width:100%;
    border-radius: 5px;
}
.seller-avatar
{
    width:30%;
    margin-right:5%;
    border-radius: 5px;
}
.seller-avatar>img
{
    width:100%;
    border-radius: inherit;
}
.seller-details-right
{
    height:inherit;
}
.col-md-4>img
{
    height:100%;
}
/* RATINGS AND REVIEWS //////////////////////////////////////////////// */
.review-main{
    box-shadow: 0px 0px 1px 1px rgb(219, 219, 219);
}
.ratings-desc
{
    line-height:1.5;
}
.bar
{
    position:relative;
    width:120px;
    height:5px;
    border-radius: 100px;
    background-color: rgb(161, 161, 161);
    margin:0px 10px 0px 10px;
}
.filler
{
    position:absolute;
    top:0;
    left:0;
    height:inherit;
    background-color:#0030c4;
    transition:width ease-in-out 0.5s;
}
.apply-shadow
{
    box-shadow: 0px 0px 1px 1px rgb(238, 238, 238);
}
.delete-review{
    position:absolute;
    right:15px;
    top:15px;
}