<h3>Hello <%=name%>!</h3>
<h4> As per your request, here is a url to reset your Agrimart's account password</h4>
<p><%=url%></p>
<h4 style="color:red">
    WARNING! DO NOT SHARE THIS URL WITH ANYONE ELSE. THIS IS FOR ONE TIME USE. IF YOU DIDN'T GENERATE A PASSWORD CHANGE
    REQUEST, PLEASE SECURE YOUR ACCOUNT NOW BY CHANGING YOUR PASSWORD!
</h4>
<div style="margin-top: 20px;color: indigo;">
    <b>-AGRIMART</b><br/>
</div>