<h2>Hello <span style="text-transform: capitalize; color:orangered"><%=name%>!</span> You have <span
        style="color:green">successfully</span> logged in to <span style="color:#007bff">AGRIMART</span></h2>
<h4 style="font-weight: bold; color:grey">If this was not you please secure your account now!</h4>