<h2 style="text-transform: capitalize;">
    Hi <%=name%>!
</h2>
<h4 style="color:grey">
    Thank yor for creating an account on Agrimmart.
</h4>
<p>
    From helping the farmers and distributors, all across India in expanding their business to providing agricultural produce to their customers all across the country, we aim to grow together for a better and a healthy future.❤️
</p>
<p>
    So what are you waiting for? Get started with it. Post a new product and start selling, earning and expanding your business!
</p>


<div style="margin-top: 20px;color: indigo;">
    <b>-AGRIMART</b><br/>
</div>