<form method="POST" action="/users/create">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" placeholder="Name" name="name" class="form-control" id="name" aria-describedby="name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" placeholder="abc@xyz.com" name="email" class="form-control" id="email" aria-describedby="email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" class="form-control" id="password">
    </div>
    <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" name="confirm_password" placeholder="Confirm password" class="form-control" id="confirm-password">
        <small>Please re-enter your password</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>