<h1>
    This is user's profile page.
</h1>
<div>
    <p>
        Following are the details of the logged in user. (restriction of details is obviously needed)
    </p>
    <p>
        <%=locals.user%>
    </p>
</div>