<h2>
    You are on the checkout page to proceed to the transaction of <%=price%> Rupees on Agrimart.
</h2>
<p style="color:grey;">
    If this was not you, please secure your account now!
</p>
<div style="margin-top: 20px;color: indigo;">
    <b>-AGRIMART</b><br />
</div>